{{ if not .NoComments -}}
/*
{{ .Version }}.{{ .Name }}.up.sql

The following code is the "up" migration for the version "{{ .Version }}".
Once this migration is acknowledged, its filename must never be modified.
*/
{{ end -}}
