# {{ .CapitalizedName }}

{{ .CapitalizedName }} is a [Blacksmith](https://nunchi.studio/blacksmith) application.

Blacksmith is a Go framework specifically designed for data engineering teams. It
allows you to design, build, and deploy reliable data platforms in a consistent
way. The goal of Blacksmith is to address as many pain points as possible engineering
teams encounter while working on data solutions.

Any team that is building — or think about building — a complete data platform knows
the tremendous amount of work needed to properly accomplish this mission. Think
of Blacksmith as the central piece of your data engineering workflow, leading you
to save months of customized and professional work.

## Links

- [Blacksmith repository on GitHub](https://github.com/nunchistudio/blacksmith)
- [Blacksmith guides on Nunchi website](https://nunchi.studio/blacksmith)
- [API reference on Go developer portal](https://pkg.go.dev/github.com/nunchistudio/blacksmith?tab=doc)

## Professional services

Along consulting and training, Nunchi provides different product offerings as well
as different levels of support.

- [Discover our services](https://nunchi.studio/blacksmith/support)
