# {{ .CapitalizedName }}

{{ .CapitalizedName }} is a [Blacksmith](https://nunchi.studio/blacksmith) application.

Blacksmith is a low-code ecosystem offering a complete and consistent approach for
building ETL platforms. It allows organizations to process, trust, and visualize
all their data flowing from end to end in a consistent way.

Any team that is building — or think about building — a data engineering platform
knows the tremendous amount of work needed to properly accomplish this mission.
Think of Blacksmith as the central piece of your data engineering workflow, leading
you to save months of customized and professional work.

![Data engineering with Blacksmith](https://nunchi.studio/images/blacksmith/approach.png)

By leveraging Blacksmith, organizations benefit a single source of truth for all
their data with a unique developer experience.

Powerful REST API ([Enterprise Edition](https://nunchi.studio/blacksmith/pricing)):
```bash
$ curl --request GET --url 'https://example.com/admin/api/store/jobs' \
  -d events.sources_in=cms \
  -d events.sources_in=crm \
  -d jobs.destinations_in=warehouse \
  -d jobs.actions_in=register \
  -d jobs.status_in=discarded \
  -d offset=0 -d limit=100
```

Built-in dashboard ([Enterprise Edition](https://nunchi.studio/blacksmith/pricing)):
![Blacksmith Dashboard](https://nunchi.studio/images/blacksmith/dashboard.002.png)

## Links

- [Blacksmith repository on GitHub](https://github.com/nunchistudio/blacksmith)
- [Blacksmith guides on Nunchi website](https://nunchi.studio/blacksmith)
- [API reference on Go developer portal](https://pkg.go.dev/github.com/nunchistudio/blacksmith?tab=doc)

## Professional services

Along consulting and training, Nunchi provides different product offerings as well
as different levels of support.

- [Discover our services](https://nunchi.studio/support)
