package {{ .Package }}

import (
	{{ if .WithMigrations -}}
	"database/sql"
	"path/filepath"
	{{ end -}}
	"time"

	{{ if .WithMigrations -}}
	"github.com/nunchistudio/blacksmith/adapter/wanderer"
	{{ end -}}
	"github.com/nunchistudio/blacksmith/flow/destination"
	"github.com/nunchistudio/blacksmith/helper/logger"

	{{ if .WithMigrations -}}
	"github.com/nunchistudio/blacksmith-integrations/sqlike"
	{{- end }}
)

{{ if not .NoComments -}}
/*
Context is a dictionary of information that provides useful context about an
action. It can shared across actions of a destination, or event between multiple
destinations.

The context should be used inside every actions for consistency. It must be a
valid JSON since it will be used by encoding/json Marshal and Unmarshal functions.
*/
{{ end -}}

type Context struct {
	// ...
}

{{ if not .NoComments -}}
/*
{{ .CapitalizedName }} implements the Blacksmith destination.Destination interface
for the destination "{{ .Name }}".
*/
{{ end -}}

type {{ .CapitalizedName }} struct {
	env     *Options
	options *destination.Options
}

{{ if not .NoComments -}}
/*
New returns a valid Blacksmith destination.Destination for {{ .CapitalizedName }}.
*/
{{ end -}}

func New(env *Options) destination.Destination {

	// Validate the environment options passed by the application.
	// Stop the process if any error is returned.
	if err := env.validate(); err != nil {
		logger.Default.Fatal(err)
		return nil
	}

	return &{{ .CapitalizedName }}{
		env: env,
		options: &destination.Options{
			Versions: map[string]time.Time{
				"{{ .Version }}": time.Time{},
			},
			DefaultVersion: "{{ .Version }}",
			DefaultSchedule: &destination.Schedule{
				Realtime:   true,
				Interval:   env.Interval,
				MaxRetries: env.MaxRetries,
			},
		},
	}
}

{{ if not .NoComments -}}
/*
String returns the string representation of the destination {{ .CapitalizedName }}.
*/
{{ end -}}

func (d *{{ .CapitalizedName }}) String() string {
	return "{{ .Name }}"
}

{{ if .WithHooks -}}
{{ if not .NoComments -}}
/*
Init lets you add business logic for the destination's initialization,
such as opening a connection pool. It is called when starting the
scheduler service or before running migrations.
*/
{{ end -}}

func (d *{{ .CapitalizedName }}) Init(tk *destination.Toolkit) error {

	// ...

	return nil
}

{{ if not .NoComments -}}
/*
Shutdown lets you add business logic for the destination's shutdown,
such as closing a connection pool. It is called when shutting down
the scheduler service or after running migrations.
*/
{{ end -}}

func (d *{{ .CapitalizedName }}) Shutdown(tk *destination.Toolkit) error {

	// ...

	return nil
}
{{ end -}}

{{ if not .NoComments -}}
/*
Options returns common destination options for {{ .CapitalizedName }}. They will
be shared across every actions of this destination, except when overridden.
*/
{{ end -}}

func (d *{{ .CapitalizedName }}) Options() *destination.Options {
	return d.options
}

{{ if not .NoComments -}}
/*
Actions return a list of actions the destination {{ .CapitalizedName }} is able
to handle.
*/
{{ end -}}

func (d *{{ .CapitalizedName }}) Actions() map[string]destination.Action {
	return map[string]destination.Action{

		// ...

	}
}

{{ if .WithMigrations -}}
{{ if not .NoComments -}}
/*
Migrate is the implementation of the wanderer.WithMigrate interface
for the destination {{ .CapitalizedName }}. It allows the destination, and all
of its actions, to have a migration logic. This is the function called
whenever a migration needs to run or to rollback.

It can leverage the sqlike package for running the migration within
a SQL transaction, using the standard database/sql package.
*/
{{ end -}}

func (d *{{ .CapitalizedName }}) Migrate(tk *wanderer.Toolkit, migration *wanderer.Migration) error {
	db, err := sql.Open("<driver-name>", "<driver-url>")
	if err != nil {
		return err
	}

	defer db.Close()
	return sqlike.RunMigration(db, filepath.Join("relative", "path", "{{ .Name }}", "migrations"), migration)
}

{{ if not .NoComments -}}
/*
Migrations is the implementation of the wanderer.WithMigrations interface
for the destination {{ .CapitalizedName }}. It allows the destination to have
migrations.

It can leverage the sqlike package for finding compatible SQL files
within a directory.
*/
{{ end -}}

func (d *{{ .CapitalizedName }}) Migrations(tk *wanderer.Toolkit) ([]*wanderer.Migration, error) {
	return sqlike.LoadMigrations(filepath.Join("relative", "path", "{{ .Name }}", "migrations"))
}
{{ end -}}
