package {{ .Package }}

import (
	{{ if .WithMigrations -}} "database/sql" {{ end }}
	{{ if .WithMigrations -}} "path/filepath" {{ end }}
	"time"

	{{ if .WithMigrations -}} "github.com/nunchistudio/blacksmith/adapter/wanderer" {{ end }}
	"github.com/nunchistudio/blacksmith/flow/source"
	{{ if .WithMigrations -}}"github.com/nunchistudio/blacksmith/helper/sqlike" {{ end }}
)

{{ if .NoComments -}} {{ else -}}
/*
{{ .CapitalizedName }} implements the Blacksmith source.Source interface for
the source "{{ .Name }}".
*/
{{ end -}}

type {{ .CapitalizedName }} struct {
	options *source.Options
}

{{ if .NoComments -}} {{ else -}}
/*
New returns a valid Blacksmith source.Source for {{ .CapitalizedName }}.
*/
{{ end -}}

func New() source.Source {
	return &{{ .CapitalizedName }}{
		options: &source.Options{
			Versions: map[string]time.Time{
				"{{ .Version }}": time.Time{},
			},
			DefaultVersion: "{{ .Version }}",
		},
	}
}

{{ if .NoComments -}} {{ else -}}
/*
String returns the string representation of the source {{ .CapitalizedName }}.
*/
{{ end -}}

func (s *{{ .CapitalizedName }}) String() string {
	return "{{ .Name }}"
}

{{ if .NoComments -}} {{ else -}}
/*
Options returns common source options for {{ .CapitalizedName }}. They will be
shared across every triggers of this source, except when overridden.
*/
{{ end -}}

func (s *{{ .CapitalizedName }}) Options() *source.Options {
	return s.options
}

{{ if .NoComments -}} {{ else -}}
/*
Triggers return a list of triggers the source {{ .CapitalizedName }} is able
to handle.
*/
{{ end -}}

func (s *{{ .CapitalizedName }}) Triggers() map[string]source.Trigger {
	return map[string]source.Trigger{

		// ...

	}
}

{{ if .WithMigrations -}}
{{ if .NoComments -}} {{ else -}}
/*
Migrate is the implementation of the wanderer.WithMigrate interface
for the source {{ .CapitalizedName }}. It allows the source, and all of its
triggers, to have a migration logic. This is the function called
whenever a migration needs to run or to rollback.

It can leverage the sqlike package for running the migration within
a SQL transaction, using the standard database/sql package.
*/
{{ end -}}

func (s *{{ .CapitalizedName }}) Migrate(tk *wanderer.Toolkit, migration *wanderer.Migration) error {
	db, err := sql.Open("<driver>", "<connection>")
	if err != nil {
		return err
	}

	defer db.Close()
	return sqlike.RunMigration(db, filepath.Join("relative", "path", "{{ .Name }}", "migrations"), migration)
}

{{ if .NoComments -}} {{ else -}}
/*
Migrations is the implementation of the wanderer.WithMigrations interface
for the source {{ .CapitalizedName }}. It allows the source to have migrations
registered within this source.

It can leverage the sqlike package for finding compatible SQL files
within a directory.
*/
{{ end -}}

func (s *{{ .CapitalizedName }}) Migrations(tk *wanderer.Toolkit) ([]*wanderer.Migration, error) {
	return sqlike.LoadMigrations(filepath.Join("relative", "path", "{{ .Name }}", "migrations"))
}
{{ end -}}
