package {{ .Package }}

import (
	{{ if .WithMigrations -}}
	"github.com/nunchistudio/blacksmith/adapter/wanderer"
	{{ end -}}
	"github.com/nunchistudio/blacksmith/flow/destination"
)

var _ destination.Action = {{ .CapitalizedName }}{}

{{ if .WithMigrations -}}
var _ wanderer.WithMigrate = {{ .CapitalizedName }}{}
var _ wanderer.WithMigrations = {{ .CapitalizedName }}{}
{{ end -}}
